In [2]:
import pandas as pd

In [6]:
data = pd.read_csv('coestatistica-1/desafio1.csv')
data.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [13]:
estados = list(data['estado_residencia'].unique())
estados

['SC', 'RS', 'PR']

In [32]:
target = 'pontuacao_credito'

for estado in estados:
    print('Média {}: {}'.format(estado, data[data['estado_residencia'] == estado][target].mean()))
    print('Mediana {}: {}'.format(estado, data[data['estado_residencia'] == estado][target].median()))
    print('Moda {}: {}'.format(estado, data[data['estado_residencia'] == estado][target].mode()[0]))
    print('Desvio Padrão {}: {}\n'.format(estado, data[data['estado_residencia'] == estado][target].std()))

Média SC: 649.5376527422563
Mediana SC: 653.0
Moda SC: 850
Desvio Padrão SC: 97.233492793433

Média RS: 651.1051428571428
Mediana RS: 650.0
Moda RS: 850
Desvio Padrão RS: 95.13659841383574

Média PR: 648.9612940496822
Mediana PR: 650.0
Moda PR: 850
Desvio Padrão PR: 98.60718591309758

In [48]:
with open('coestatistica-1/submission.json', 'r') as json_file:
    dados = json.load(json_file)

In [58]:
results = {}

for estado in estados:
    metricas = data[]

dict_keys(['moda', 'mediana', 'media', 'desvio_padrao'])